.clock-middle img{
   width: 50px;
   height: 26px;
   margin: 21px 0 35px 0;
}
.clock-side{
   text-align: center;
   margin-top: 35px;
}
.clock{
   position: relative;
   display: flex;
   justify-content: space-between;
   width: 315px;
   margin-top: 28px;
   padding-bottom: 32px;
}
.clock::before{
   content: '';
   height: 1px;
   width: 280px;
   position: absolute;
   left: 0;
   bottom: 0;
   background-color: rgba(255, 255, 255, 0.7);
}
.clock::after{
   content: 'i';
   width: 28px;
   display: flex;
   height: 28px;
   position: absolute;
   right: -5%;
   bottom: -3%;
   background: rgb(255, 255, 255, 0.3);
   border-radius: 50%;
   justify-content: center;
   align-items: center;
   font-size: 16px;
}
.clock-side img{
   margin: 20px 0 28px 0;
   width: 47px;
   height: 24px;
}
.clock-card{
   text-align: center;
   margin: auto;
   width: 71px;
   height: 147px;
   background: rgb(255, 255, 255, 0.3);
   border-radius: 100px;
}
.clock-middle{
   text-align: center;
}
.clock-card-mid{
   text-align: center;
   margin: auto;
   width: 91px;
   height: 172px;
   background: rgb(255, 255, 255, 0.3);
   border-radius: 100px;
}
.first-time{
   font-size: 20px;
   margin-bottom: 5px;
}
.second-time{
   font-size: 16px;
   color: #EBEBEB;
}
.first-time-mid{
   font-size: 20px;
   margin-bottom: 9px;
}
.second-time-mid{
   font-size: 16px;
   color: #EBEBEB;
}
.clock-title{
   font-size: 19px;
   margin-bottom: 10px;
}
