.weather{
  position: relative;
  width: 76px;
  height: 140px;
  background: rgba(255, 255, 255, 0.2);
  filter: blur(0.3px);
  border-radius: 10px;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  text-align: center;
  transition: all 0.3s;
}

.weather:hover{
  box-shadow: rgba(255, 255, 255, 0.5) 0 0 8px 2px;
  transition: all 0.3s;
  transform: scale(1.015);
  background: rgba(255, 255, 255, 0.1);
}
.weather-text{
  font-size: 18px;
  margin: none;
  margin-top: 10px;
}
.weather-week{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.weather-img img{
  max-width: 38px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}