.weather-details{
   position: relative;
   width: 430px;
   font-size: 16px;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 40px;
}
.weather-details, .wind, .hum, .hum-svg, .rain-svg, .wind-svg{
   display: flex;
}
.wind, .hum{
   width: 150px;
   justify-content: space-between;
}
.wind{
   width: 150px;
}
.svg{
   margin-right: 9px;
}

.weather-details::after{
   content: '';
   width: 1px;
   background-color: #fff;
   height: 15px;
   position: absolute;
   left: 50%;
   top: 40%;
   transform: translate(-50%, -50%);
}
